---
import Layout from '../layouts/Layout.astro';
import { ClientRouter } from 'astro:transitions';

const IMG_BASE = "https://raw.githubusercontent.com/Chasel1103/TRPG-Images/main";
const base = import.meta.env.BASE_URL;
---
<Layout>
  <Fragment slot="head">
    <title>偷偷說桌團錄合集</title>
    <ClientRouter />
  </Fragment>

<Layout>

  <section id="cover">
    <div class="carousel">
      <div class="carousel__slide active">
      <!-- 沼男は誰だ -->
      
        <div class="cover__bg" style={`background-image: url('${IMG_BASE}/scene/cover/swampman.webp')`}></div>
        <div class="cover__bg-deco"></div>
        <div class="cover__title-wrap">
          <div class="cover__title-line cover__title-line--top">沼男は</div>
          <div class="cover__title-line cover__title-line--bottom">誰だ？</div>
        </div>
        <div class="cover__card">
          <div class="cover__info">
            <div class="cover__info-row">人數　4人<br>時長　中<br>撕卡率　高</div>
            <div class="cover__info-tags">#哲學　#半開放探索　#說啥我才不劇透勒</div>
          </div>
          <div class="cover__cast">
            <div class="cover__cast-label">Cast</div>
            <div class="cover__cast-names">西條 遙香<br>泉 夕希<br>笹島 大地<br>葛城 弘樹</div>
          </div>
        </div>
      </div>

      <!-- K縣警K課 -->
      <div class="carousel__slide">
        <div class="cover__bg" style={`background-image: url('${IMG_BASE}/scene/cover/K.webp')`}></div>
        <div class="cover__bg-deco"></div>
        <div class="cover__title-wrap">
          <div class="cover__title-line cover__title-line--top">K県警</div>
          <div class="cover__title-line cover__title-line--bottom">K課</div>
        </div>
        <div class="cover__card">
          <div class="cover__info">
            <div class="cover__info-row">人數　4人<br>時長　五部曲<br>撕卡率　??</div>
            <div class="cover__info-tags">#4HO　#無法、外道、不道德！？</div>
          </div>
          <div class="cover__cast">
            <div class="cover__cast-label">Cast</div>
            <div class="cover__cast-names">砂金 理來<br>久世 真宵<br>龍守 蓮司<br>灰野 悠仁</div>
          </div>
        </div>
      </div>

      <!-- 豪華客船怪盜團 -->
      <div class="carousel__slide">
        <div class="cover__bg" style={`background-image: url('${IMG_BASE}/scene/cover/phantom-thief.webp')`}></div>
        <div class="cover__bg-deco"></div>
        <div class="cover__title-wrap">
          <div class="cover__title-line cover__title-line--top">豪華客船</div>
          <div class="cover__title-line cover__title-line--bottom">怪盜團</div>
        </div>
        <div class="cover__card">
          <div class="cover__info">
            <div class="cover__info-row">人數　4人<br>時長　短<br>撕卡率　高</div>
            <div class="cover__info-tags">#TAG下啥好　#還沒有想法捏</div>
          </div>
          <div class="cover__cast">
            <div class="cover__cast-label">Cast</div>
            <div class="cover__cast-names">冨永 宝<br>歌代 遙<br>青山 幸助<br>七夕 七星</div>
          </div>
        </div>
      </div>
      
      </div>
    </div>

    <!-- 左右箭頭 + 指示點 -->
    <div class="carousel__controls">
      <button class="carousel__prev" aria-label="上一張">&#9664;</button>
      <div class="carousel__dots">
        <span class="carousel__dot active"></span>
        <span class="carousel__dot"></span>
      </div>
      <button class="carousel__next" aria-label="下一張">&#9654;</button>
    </div>

    <a class="cover__scroll-btn" href="#catalog" aria-label="前往目錄">
      <span class="cover__scroll-label">Scroll</span>
      <span class="cover__scroll-arrow"></span>
    </a>
  </section>

  <section id="catalog">

    <!-- 刑事I的報告keiji -->
    <div class="entry">
      <div class="tl-wrap">
        <svg class="tl-svg" style="left: 60%; top: 0;" width="20" height="90" viewBox="0 0 20 90" xmlns="http://www.w3.org/2000/svg">
          <line x1="10" y1="0"  x2="10" y2="12" stroke="rgba(255,255,255,0.15)" stroke-width="0.8"/>
          <line x1="10" y1="12" x2="10" y2="78" stroke="rgba(255,255,255,0.4)"  stroke-width="3"/>
          <line x1="10" y1="78" x2="10" y2="90" stroke="rgba(255,255,255,0.15)" stroke-width="0.8"/>
        </svg>
        <span class="tl-time" style="right: 42%;">2026/04</span>
      </div>
      <div class="entry__card-wrap" style="margin-left: 50%; margin-right: 8%;">
        <a href={`${base}/keiji`} class="entry__card" style="--vt-name: card-keiji">
          <div class="entry__card-bg" style={`background-image: url('${IMG_BASE}/scene/cover/keiji.webp')`}></div>
          <div class="entry__info">
            <div class="entry__info-row">人數　1人<br>時長　短<br>撕卡率　低</div>
            <div class="entry__info-tags">#單人 #KPless</div>
          </div>
          <div class="entry__cast">
            <div class="entry__cast-names">CAST<br>砂金 理來</div>
          </div>
          <div class="entry__title-wrap">
            <div class="entry__title-line">刑事Iの報告</div>
          </div>
        </a>
      </div>
    </div>

    <!-- 在流星消失的那一夜meteor -->
    <div class="entry">
      <div class="tl-wrap">
        <svg class="tl-svg" style="left: 53%; top: 0;" width="20" height="90" viewBox="0 0 20 90" xmlns="http://www.w3.org/2000/svg">
          <line x1="10" y1="0"  x2="10" y2="12" stroke="rgba(255,255,255,0.15)" stroke-width="0.8"/>
          <line x1="10" y1="12" x2="10" y2="78" stroke="rgba(255,255,255,0.4)"  stroke-width="3"/>
          <line x1="10" y1="78" x2="10" y2="90" stroke="rgba(255,255,255,0.15)" stroke-width="0.8"/>
        </svg>
        <span class="tl-time" style="left: 48%;">2026/03</span>
      </div>
      <div class="entry__card-wrap" style="margin-left: 25%; margin-right: auto;">
        <a href={`${base}/meteor`} class="entry__card" style="--vt-name: card-meteor">
          <div 
            class="entry__card-bg" 
            style={`background-image: url('${IMG_BASE}/scene/cover/meteor.webp'); background-position: center 25%;`}
          ></div>
          <div class="entry__info">
            <div class="entry__info-row">人數　1人<br>時長　短<br>撕卡率　低</div>
            <div class="entry__info-tags">#日式恐怖解謎風　#<br>#</div>
          </div>
          <div class="entry__cast">
            <div class="entry__cast-names">CAST<br>南城 曉</div>
          </div>
          <div class="entry__title-wrap">
            <div class="entry__title-line">在流星消失的那一夜</div>
          </div>
        </a>
      </div>
    </div>

    <!-- 超額殺戮日overkill -->
    <div class="entry">
      <div class="tl-wrap">
        <svg class="tl-svg" style="left: 44%; top: 0;" width="20" height="90" viewBox="0 0 20 90" xmlns="http://www.w3.org/2000/svg">
          <line x1="10" y1="0"  x2="10" y2="12" stroke="rgba(255,255,255,0.15)" stroke-width="0.8"/>
          <line x1="10" y1="12" x2="10" y2="78" stroke="rgba(255,255,255,0.4)"  stroke-width="3"/>
          <line x1="10" y1="78" x2="10" y2="90" stroke="rgba(255,255,255,0.15)" stroke-width="0.8"/>
        </svg>
        <span class="tl-time" style="left: 39%;">2026/02</span>
      </div>
      <div class="entry__card-wrap" style="margin-left: 42%; margin-right: auto;">
        <a href={`${base}/overkill`} class="entry__card" style="--vt-name: card-fuukikan">
          <div class="entry__card-bg" style={`background-image: url('${IMG_BASE}/scene/cover/overkill.webp')`}></div>
          <div class="entry__info">
            <div class="entry__info-row">人數　4人<br>時長　短<br>撕卡率　低</div>
            <div class="entry__info-tags">#日式恐怖解謎風　#R-15<br>#斯德哥爾摩綜合症</div>
          </div>
          <div class="entry__cast">
            <div class="entry__cast-names">CAST<br>木村 準和<br>七崎 央<br>鷹司 凜子<br>松原 蒼真</div>
          </div>
          <div class="entry__title-wrap">
            <div class="entry__title-line">超額殺戮日</div>
          </div>
        </a>
      </div>
    </div>

    <!-- 冬來自瘋狂from-madness-2 -->
    <div class="entry">
      <div class="tl-wrap">
        <svg class="tl-svg" style="left: 44%; top: 0;" width="20" height="90" viewBox="0 0 20 90" xmlns="http://www.w3.org/2000/svg">
          <line x1="10" y1="0"  x2="10" y2="12" stroke="rgba(255,255,255,0.15)" stroke-width="0.8"/>
          <line x1="10" y1="12" x2="10" y2="78" stroke="rgba(255,255,255,0.4)"  stroke-width="3"/>
          <line x1="10" y1="78" x2="10" y2="90" stroke="rgba(255,255,255,0.15)" stroke-width="0.8"/>
        </svg>
        <span class="tl-time" style="left: 39%;">2025/11</span>
      </div>
      <div class="entry__card-wrap" style="margin-left: 30%; margin-right: auto;">
        <a href={`${base}/from-madness-2`} class="entry__card" style="--vt-name: card-ars-magne">
          <div class="entry__card-bg" style={`background-image: url('${IMG_BASE}/covers/from-madness-2.webp')`}></div>
          <div class="entry__info">
            <div class="entry__info-row">人數　1V1<br>時長　中<br>撕卡率　低～中</div>
            <div class="entry__info-tags">#食人　#R-15<br>#斯德哥爾摩綜合症</div>
          </div>
          <div class="entry__cast">
            <div class="entry__cast-names">CAST<br>冬來 宵<br>KPC 諾亞</div>
          </div>
          <div class="entry__title-wrap">
            <div class="entry__title-line">自瘋狂獻給親愛的怪物</div>
          </div>
        </a>
      </div>
    </div>

    <!-- 桔梗館的某夜fuukikan -->
    <div class="entry">
      <div class="tl-wrap">
        <svg class="tl-svg" style="left: 33%; top: 0;" width="20" height="90" viewBox="0 0 20 90" xmlns="http://www.w3.org/2000/svg">
          <line x1="10" y1="0"  x2="10" y2="12" stroke="rgba(255,255,255,0.15)" stroke-width="0.8"/>
          <line x1="10" y1="12" x2="10" y2="78" stroke="rgba(255,255,255,0.4)"  stroke-width="3"/>
          <line x1="10" y1="78" x2="10" y2="90" stroke="rgba(255,255,255,0.15)" stroke-width="0.8"/>
        </svg>
        <span class="tl-time" style="left: 35%;">2025/09</span>
      </div>
      <div class="entry__card-wrap" style="margin-left: 15%; margin-right: auto;">
        <a href={`${base}/fuukikan`} class="entry__card" style="--vt-name: card-fuukikan">
          <div class="entry__card-bg" style={`background-image: url('${IMG_BASE}/scene/cover/fuukikan.webp')`}></div>
          <div class="entry__info">
            <div class="entry__info-row">人數　1V1<br>時長　中<br>撕卡率　低～中</div>
            <div class="entry__info-tags">#食人　#R-15<br>#斯德哥爾摩綜合症</div>
          </div>
          <div class="entry__cast">
            <div class="entry__cast-names">CAST<br>西條 遙香<br>泉 夕希<br>伊萊亞斯．諾德海姆<br>■■■■</div>
          </div>
          <div class="entry__title-wrap">
            <div class="entry__title-line">桔梗館的某夜</div>
          </div>
        </a>
      </div>
    </div>

    <!-- 凍湖touko -->
    <div class="entry">
      <div class="tl-wrap">
        <svg class="tl-svg" style="left: 44%; top: 0;" width="20" height="90" viewBox="0 0 20 90" xmlns="http://www.w3.org/2000/svg">
          <line x1="10" y1="0"  x2="10" y2="12" stroke="rgba(255,255,255,0.15)" stroke-width="0.8"/>
          <line x1="10" y1="12" x2="10" y2="78" stroke="rgba(255,255,255,0.4)"  stroke-width="3"/>
          <line x1="10" y1="78" x2="10" y2="90" stroke="rgba(255,255,255,0.15)" stroke-width="0.8"/>
        </svg>
        <span class="tl-time" style="left: 39%;">2025/09</span>
      </div>
      <div class="entry__card-wrap" style="margin-left: 38%; margin-right: auto;">
        <a href={`${base}/touko`} class="entry__card" style="--vt-name: card-ars-magne">
          <div class="entry__card-bg" style={`background-image: url('${IMG_BASE}/covers/touko.webp')`}></div>
          <div class="entry__info">
            <div class="entry__info-row">人數　1V1<br>時長　中<br>撕卡率　低～中</div>
            <div class="entry__info-tags">#食人　#R-15<br>#斯德哥爾摩綜合症</div>
          </div>
          <div class="entry__cast">
            <div class="entry__cast-names">CAST<br>三門 青司<br>鯨井 咲<br>栗 良</div>
          </div>
          <div class="entry__title-wrap">
            <div class="entry__title-line">凍湖で窮む呪草</div>
          </div>
        </a>
      </div>
    </div>

    <!-- 藤原自瘋狂from-madness-1 -->
    <div class="entry">
      <div class="tl-wrap">
        <svg class="tl-svg" style="left: 44%; top: 0;" width="20" height="90" viewBox="0 0 20 90" xmlns="http://www.w3.org/2000/svg">
          <line x1="10" y1="0"  x2="10" y2="12" stroke="rgba(255,255,255,0.15)" stroke-width="0.8"/>
          <line x1="10" y1="12" x2="10" y2="78" stroke="rgba(255,255,255,0.4)"  stroke-width="3"/>
          <line x1="10" y1="78" x2="10" y2="90" stroke="rgba(255,255,255,0.15)" stroke-width="0.8"/>
        </svg>
        <span class="tl-time" style="left: 39%;">2025/08</span>
      </div>
      <div class="entry__card-wrap" style="margin-left: 42%; margin-right: auto;">
        <a href={`${base}/from-madness-1`} class="entry__card" style="--vt-name: card-ars-magne">
          <div class="entry__card-bg" style={`background-image: url('${IMG_BASE}/covers/from-madness-1.webp')`}></div>
          <div class="entry__info">
            <div class="entry__info-row">人數　1V1<br>時長　中<br>撕卡率　低～中</div>
            <div class="entry__info-tags">#食人　#R-15<br>#斯德哥爾摩綜合症</div>
          </div>
          <div class="entry__cast">
            <div class="entry__cast-names">CAST<br>藤原 浩二<br>諾亞</div>
          </div>
          <div class="entry__title-wrap">
            <div class="entry__title-line">自瘋狂獻給親愛的怪物</div>
          </div>
        </a>
      </div>
    </div>

    <!-- ars-manga -->
    <div class="entry">
      <div class="tl-wrap">
        <svg class="tl-svg" style="left: 44%; top: 0;" width="20" height="90" viewBox="0 0 20 90" xmlns="http://www.w3.org/2000/svg">
          <line x1="10" y1="0"  x2="10" y2="12" stroke="rgba(255,255,255,0.15)" stroke-width="0.8"/>
          <line x1="10" y1="12" x2="10" y2="78" stroke="rgba(255,255,255,0.4)"  stroke-width="3"/>
          <line x1="10" y1="78" x2="10" y2="90" stroke="rgba(255,255,255,0.15)" stroke-width="0.8"/>
        </svg>
        <span class="tl-time" style="left: 39%;">2025/06</span>
      </div>
      <div class="entry__card-wrap" style="margin-left: 42%; margin-right: auto;">
        <a href={`${base}/ars-manga`} class="entry__card" style="--vt-name: card-ars-magne">
          <div class="entry__card-bg" style={`background-image: url('${IMG_BASE}/covers/ars-manga.webp')`}></div>
          <div class="entry__info">
            <div class="entry__info-row">人數　1人×4<br>時長　短<br>撕卡率　低</div>
            <div class="entry__info-tags">#食人　#R-15<br>#斯德哥爾摩綜合症</div>
          </div>
          <div class="entry__cast">
            <div class="entry__cast-names">CAST<br>三谷 里矢<br>凱瑟琳．伊夫林<br>神谷 秀彥<br>莉艾．夏普</div>
          </div>
          <div class="entry__title-wrap">
            <div class="entry__title-line">ARS MANGA</div>
          </div>
        </a>
      </div>
    </div>

    <!-- u -->
    <div class="entry">
      <div class="tl-wrap">
        <svg class="tl-svg" style="left: 44%; top: 0;" width="20" height="90" viewBox="0 0 20 90" xmlns="http://www.w3.org/2000/svg">
          <line x1="10" y1="0"  x2="10" y2="12" stroke="rgba(255,255,255,0.15)" stroke-width="0.8"/>
          <line x1="10" y1="12" x2="10" y2="78" stroke="rgba(255,255,255,0.4)"  stroke-width="3"/>
          <line x1="10" y1="78" x2="10" y2="90" stroke="rgba(255,255,255,0.15)" stroke-width="0.8"/>
        </svg>
        <span class="tl-time" style="left: 39%;">2025/06</span>
      </div>
      <div class="entry__card-wrap" style="margin-left: 42%; margin-right: auto;">
        <a href={`${base}/u`} class="entry__card" style="--vt-name: card-ars-magne">
          <div class="entry__card-bg" style={`background-image: url('${IMG_BASE}/covers/ars-manga.webp')`}></div>
          <div class="entry__info">
            <div class="entry__info-row">人數　3人<br>時長　中<br>撕卡率　低</div>
            <div class="entry__info-tags">#食人　#R-15<br>#斯德哥爾摩綜合症</div>
          </div>
          <div class="entry__cast">
            <div class="entry__cast-names">CAST<br>柳田 花鳥<br>紫原 真希<br>麻生 早繪</div>
          </div>
          <div class="entry__title-wrap">
            <div class="entry__title-line">U、抑或是</div>
          </div>
        </a>
      </div>
    </div>

    <!-- 不要叫醒沉睡的貓nemu-neko -->
    <div class="entry">
      <div class="tl-wrap">
        <svg class="tl-svg" style="left: 44%; top: 0;" width="20" height="90" viewBox="0 0 20 90" xmlns="http://www.w3.org/2000/svg">
          <line x1="10" y1="0"  x2="10" y2="12" stroke="rgba(255,255,255,0.15)" stroke-width="0.8"/>
          <line x1="10" y1="12" x2="10" y2="78" stroke="rgba(255,255,255,0.4)"  stroke-width="3"/>
          <line x1="10" y1="78" x2="10" y2="90" stroke="rgba(255,255,255,0.15)" stroke-width="0.8"/>
        </svg>
        <span class="tl-time" style="left: 39%;">2025/05</span>
      </div>
      <div class="entry__card-wrap" style="margin-left: 42%; margin-right: auto;">
        <a href={`${base}/nemu-neko`} class="entry__card" style="--vt-name: card-ars-magne">
          <div class="entry__card-bg" style={`background-image: url('${IMG_BASE}/covers/nemu-neko.webp')`}></div>
          <div class="entry__info">
            <div class="entry__info-row">人數　4人<br>時長　短<br>撕卡率　低</div>
            <div class="entry__info-tags">#食人　#R-15<br>#斯德哥爾摩綜合症</div>
          </div>
          <div class="entry__cast">
            <div class="entry__cast-names">CAST<br>三門 青司<br>西條 遙香<br>泉 夕希<br>野野瀨 萌夏</div>
          </div>
          <div class="entry__title-wrap">
            <div class="entry__title-line">不要叫醒沉睡的貓</div>
          </div>
        </a>
      </div>
    </div>

    <!-- 伊夫林的遺產evelyn -->
    <div class="entry">
      <div class="tl-wrap">
        <svg class="tl-svg" style="left: 44%; top: 0;" width="20" height="90" viewBox="0 0 20 90" xmlns="http://www.w3.org/2000/svg">
          <line x1="10" y1="0"  x2="10" y2="12" stroke="rgba(255,255,255,0.15)" stroke-width="0.8"/>
          <line x1="10" y1="12" x2="10" y2="78" stroke="rgba(255,255,255,0.4)"  stroke-width="3"/>
          <line x1="10" y1="78" x2="10" y2="90" stroke="rgba(255,255,255,0.15)" stroke-width="0.8"/>
        </svg>
        <span class="tl-time" style="left: 39%;">2024/10</span>
      </div>
      <div class="entry__card-wrap" style="margin-left: 42%; margin-right: auto;">
        <a href={`${base}/evelyn`} class="entry__card" style="--vt-name: card-ars-magne">
          <div class="entry__card-bg" style={`background-image: url('${IMG_BASE}/covers/nemu-neko.webp')`}></div>
          <div class="entry__info">
            <div class="entry__info-row">人數　4人<br>時長　短<br>撕卡率　低</div>
            <div class="entry__info-tags">#4HO　#R-15<br>#斯德哥爾摩綜合症</div>
          </div>
          <div class="entry__cast">
            <div class="entry__cast-names">CAST<br>理恩．伊夫林<br>斯司里．伊夫林<br>凱瑟琳．伊夫林<br>陶德．</div>
          </div>
          <div class="entry__title-wrap">
            <div class="entry__title-line">伊夫林的遺產</div>
          </div>
        </a>
      </div>
    </div>

    <!-- 紅薔薇之館multiflora -->
    <div class="entry">
      <div class="tl-wrap">
        <svg class="tl-svg" style="left: 44%; top: 0;" width="20" height="90" viewBox="0 0 20 90" xmlns="http://www.w3.org/2000/svg">
          <line x1="10" y1="0"  x2="10" y2="12" stroke="rgba(255,255,255,0.15)" stroke-width="0.8"/>
          <line x1="10" y1="12" x2="10" y2="78" stroke="rgba(255,255,255,0.4)"  stroke-width="3"/>
          <line x1="10" y1="78" x2="10" y2="90" stroke="rgba(255,255,255,0.15)" stroke-width="0.8"/>
        </svg>
        <span class="tl-time" style="left: 39%;">2024/07</span>
      </div>
      <div class="entry__card-wrap" style="margin-left: 42%; margin-right: auto;">
        <a href={`${base}/multiflora`} class="entry__card" style="--vt-name: card-ars-magne">
          <div class="entry__card-bg" style={`background-image: url('${IMG_BASE}/covers/nemu-neko.webp')`}></div>
          <div class="entry__info">
            <div class="entry__info-row">人數　4人<br>時長　短<br>撕卡率　低</div>
            <div class="entry__info-tags">#4HO　#R-15<br>#斯德哥爾摩綜合症</div>
          </div>
          <div class="entry__cast">
            <div class="entry__cast-names">CAST<br>佐藤 蒼太<br>野野瀨 萌夏<br>泉 夕希<br>西條 遙香</div>
          </div>
          <div class="entry__title-wrap">
            <div class="entry__title-line">紅薔薇之館</div>
          </div>
        </a>
      </div>
    </div>

  </section>

</Layout>

<script>
  function initCarousel() {
    const slides = document.querySelectorAll('.carousel__slide');
    const prevBtn = document.querySelector('.carousel__prev');
    const nextBtn = document.querySelector('.carousel__next');

    if (slides.length === 0 || !prevBtn || !nextBtn) return;

    let current = 0;
    let timer: number | null = null;
    const INTERVAL_TIME = 10000;

    const goTo = (index: number) => {
      slides[current].classList.remove('active');
      current = (index + slides.length) % slides.length;
      slides[current].classList.add('active');
    };

    const next = () => goTo(current + 1);
    const prev = () => goTo(current - 1);

    timer = window.setInterval(next, INTERVAL_TIME);

    prevBtn.addEventListener('click', () => {
      if (timer) clearInterval(timer);
      prev();
      timer = window.setInterval(next, INTERVAL_TIME);
    });

    nextBtn.addEventListener('click', () => {
      if (timer) clearInterval(timer);
      next();
      timer = window.setInterval(next, INTERVAL_TIME);
    });
  }

  initCarousel();
  document.addEventListener('astro:page-load', initCarousel);
  document.addEventListener('astro:after-swap', initCarousel);
</script>

</html>